/* font-family: 'David Libre', serif;
font-family: 'Dosis', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Spectral SC', serif; */

  
   /* #28a745 #FFFF33 #FAF5E9 #F694C1 #3C3744 
      Green  Yellow  White  Pink   Grey*/
  